---
import Layout from '$layouts/Default.astro';
---

<Layout title="About">
  <h1 class="
    text-4xl
    font-bold
    text-center
    mb-4
  ">
    Welcome!
  </h1>

  <hr class="
    w-[90%]
  " />
</Layout>