---
import Layout from '$layouts/Default.astro';
import { getCollection } from 'astro:content';

const reference = await getCollection('reference');
---


<Layout title="Reference">
  <h2 class="
    text-4xl
    font-bold
    text-center
  ">
    The Panthios Reference
  </h2>

  <div class="
    grid grid-cols-2 gap-4
    mt-6
  ">
    {reference.map(entry => (
      <a href={`/reference/${entry.slug}`}>
        <span class="
          flex flex-col justify-end items-center
          p-4
          w-48 h-48
          bg-gray-700
          rounded-3xl
          text-xl
        ">
          {entry.data.title}
        </span>
      </a>
    ))}
  </div>
</Layout>