---
const LINKS = [
  { name: 'About', url: '/about' },
  { name: 'Reference', url: '/reference' }
]
---

<header class="
  flex flex-row justify-between items-center
  w-full
  px-4 py-2
">
  <a class="
    text-2xl
    font-bold
    select-none
  " href="/">
    Panthios
  </a>

  <nav class="
    flex flex-row
    space-x-8
  ">
    {
      LINKS.map(({ name, url }) => (
        <a
          href={url}
          class="
            text-sm
            font-medium
            text-gray-400
            hover:text-gray-300
            select-none
          "
        >
          {name}
        </a>
      ))
    }
  </nav>
</header>