---
import Header from '../components/Header.astro';

const { title } = Astro.props;
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/logo24.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="
		flex flex-col justify-start items-start
		min-h-screen w-screen
		bg-gray-900 text-gray-100
	">
		<Header />
		<main class="
			flex flex-col justify-center items-center
			flex-grow w-full
		">
	    <slot />
		</main>
	</body>
</html>
